@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800');

@page {
    size: landscape;
    padding-top: 0;
    margin:0mm !important;
    margin-top:2px
}
* {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}

html { background: none; overflow: visible; margin: 0px;}
body { margin: 0px; padding: 0px; background:#f3f3f3; font-family: 'Open Sans', sans-serif; overflow-x:hidden;}
button { background: transparent; border: none; outline: none; }
.container { max-width: 100%; width: 992px;}
button{ background: transparent; border: none; outline: none; }
ul{page-break-inside: auto;}
ul li{page-break-inside: avoid!important}

header{ background:#fff; text-align:center; z-index:9 !important; float:left; width:100%; padding:15px 0; box-shadow:1px 1px 5px 0px #ececec; position:relative; z-index:1;}
a:hover{ text-decoration:none;}
.navbar{ margin:0; padding:0; border-radius:0; border:none; background:none;}
.navbar-brand{ padding:0;}
.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus{ background:none;}
ul.nav{ padding:0; text-align:center;}
.nav li{ float:none; display:inline-block;}
.nav li a{ font-size:16px; color:#616161; padding:11px 10px; cursor: pointer;}
.nav li a:hover{ background:none;}
.nav li a.signup-btn-nav{ background: #ff003d; color: #fff; text-transform: uppercase; color: #fff; border-radius: 3px; padding: 7px 22px; font-size: 15px; box-shadow:1px 1px 5px -1px #b4b4b4;}
.nav li a.signup-btn-nav:hover, .nav li a.signup-btn-nav:active, .nav li a.signup-btn-nav:focus{ background:#ff003d; color:#fff; box-shadow:1px 1px 8px -1px #cecece; outline:none;}
/*header end*/
.sidebar-cntnt { display: none;}
.col-lg-3.sidebar { width: 0% !important;}
.col-lg-9.dash-main-cntnt{ width: 100% !important; margin-left: 20px; border: 0px;}
/*homepage start*/
.homepage-cntnt{ text-align:center; float:left; width:100%; margin:0; padding:90px 40px 160px 40px; background:url('../images/bg.jpg') no-repeat; background-position:top center; background-size:cover;}
.homepage-cntnt h2{ float:left; width:100%; padding:0 20%; margin:0 0 30px 0; color:#fff; font-weight:normal; font-size:45px;}
.homepage-cntnt p{ float:left; width:100%; padding:0; margin:0; color:#fff; font-weight:normal; font-size:16px;}
.home-banner-btn{ text-align:center; float:left; width:100%; margin:80px 0 0;}
.home-banner-btn a{ float:none; margin:auto; background:#00d25f; color: #fff; color:#fff; padding:19px 10%; font-size:16px;}
.home-banner-btn a:hover, .home-banner-btn a:active, .home-banner-btn a:focus{ text-decoration:none;}

.homepage-cntnt-inner{ text-align:center; float:left; width:100%; margin:0; padding:60px 0 20px 0; position:relative;}
.homepage-cntnt-inner p{ float:left; width:100%; padding:0 20%; margin:0; color:#333; font-weight:normal; font-size:30px;}

.home-social{ position:fixed; left:0; width:35px; height:227px; top:50%;}
.home-social img{ max-width:100%;}
.contact-home-icn{ position:absolute; width:40px; height:40px; background:#999999; color:#fff; text-align:center; line-height:39px; right:35px; top:30px;}
.contact-home-icn .fa{ color:#fff; font-size:16px;}
/*homepage end*/

/*main inner content start*/
.main-cntnt{ text-align:center; float:left; width:100%; margin:35px 0 33px 0;}
.main-cntnt-box{ float:left; width:100%; box-shadow:1px 1px 5px 0px #ececec; padding:30px 0; background:#fff url('../images/bg-side-icn.png') no-repeat; background-position:-125px 100%;}
.main-cntnt-box h2{ float:left; width:100%; padding:0; margin:0 0 20px 0; color:#13b75e; font-weight:800; font-size:35px;}
.main-cntnt-box p.hdng-para{ float:left; width:100%; padding:0 14%; margin:0 0 20px 0; color:#374353; font-weight:normal; font-size:16px;}
.main-cntnt-inner{ float:left; width:100%; padding:20px 55px 20px 55px; margin:0; display:flex;}
.intro-sectn{ padding:85px 0;}
.intro-sectn span{ float:left; width:100%; padding:0 16%; margin:30px 0 0 0; color:#374353; font-weight:normal; font-size:16px;}
.intro-sectn p{ float:left; width:100%; padding:0 16%; margin:0; color:#374353; font-weight:normal; font-size:16px;}
.intro-sectn p.section1-hdng{ margin:0 0 30px 0;}
/*main inner content end*/

/*login content start*/
.login-sectn{ border-left:1px solid #979797; padding:0px 2px 0 35px;}
.login-sectn h4{ float:left; width:100%; padding:0; margin:0 0 30px 0; color:#374353; font-weight:400; font-size:25px;}
.login-sectn .form-row{ margin:0 0 25px 0; float:left; text-align:left;}
.login-sectn .form-row.mealplan-top-row { margin:0 0 10px 0;}
.login-sectn .form-row label{ float:left; /* display:inline; */ color:#374353; font-weight:normal; font-size:16px; width:25%; margin:4px 0 0 0;}
 .login-sectn .form-row input[type='email'], .login-sectn .form-row input[type='password'], .login-sectn .form-row input[type='text'], .login-sectn .form-row input[type='date'], .pwdInput { margin-top:3px; float:left; /* display:inline; */ border:none; border-bottom:1px solid #bdbdbd; font-weight:normal; font-size:16px; width:75%; color:#374353;}
.login-sectn .form-row input[type='text']:focus, .login-sectn .form-row input[type='text']:active, .pwdInput:active, .pwdInput:focus{ outline: none; box-shadow: none;}
.login-sectn .form-row.text-center{ text-align:center; width:100%;}
.login-sectn .form-row.text-right{ text-align:right;}
.login-btn{ background:#13b75e; color:#fff; font-weight:600; border-radius:2px; text-transform:uppercase; border:1px solid #13b75e; float:none; margin:auto !important; font-size:16px; margin-top:10px; padding:5px 28px;}
.login-btn:hover{ color:#fff; text-decoration:none;}
.login-sectn p{ float:left; width:100%; padding:0; margin:12px 0 0 0; color:#374353; font-weight:normal; font-size:15px;}
.login-sectn p a{ color:#374353; text-decoration:underline;}
.login-sectn p a.signup-link{ color:#13b75e; font-weight:600;}
.login-sectn p.forgot-pass-txt a{ text-decoration:underline; color:#13b75e; font-weight: 600;}
.forgot-pass-txt{padding-top: 20px!important;}
.login-sectn .form-row.pass-row label{ width:37%;}
.login-sectn .form-row.pass-row input{ width:63%;}

.login-sectn .form-row.select-row label{ width:60%;}
.login-sectn .form-row.select-row input{ width:40%;}
.login-sectn .form-row.select-row select{ width:100%; border:1px solid #bdbdbd; font-weight:normal; font-size:14px; padding:10px 5px; border-radius:3px; height: auto;}
/*login content end*/

/*timeline content start*/
.timeline{ float:left; width:100%; padding:0 0 0 150px;}
.timeline-row{float:left; width:100%; padding:0; margin:0;}
.timeline-content{ float:left; width:100%; padding:0 20px 15px 24px; border-left:5px solid #e9e9e9; position:relative;}
.timeline-content span{ height:16px; width:16px; background:#c0c0c0; border-radius:50px; position:absolute; left:-11px; padding:0; margin:-2px 0px 0 0; box-shadow:1px 1px 5px -1px #b4b4b4;}
.timeline-content p{ float:left; width:100%; padding:0; margin:0 0 15px 0; color:#374353; font-weight:normal; font-size:21px; text-align:left; position:relative; top:-10px;}
.timeline-row.active span{ background:#13b75e; width:26px; height:26px; margin-top:-7px; left:-16px;}
.last-row-timeline .timeline-content{ padding:0 20px 0 24px;}
.last-row-timeline .timeline-content p{ margin:0; position:relative; line-height:11px; top:1px;}
/*timeline content end*/

.login-sectn .form-row.select-row-small label{ width:73%; padding-right:3%;}
.login-sectn .form-row.select-row-small label span{ font-size:10px; line-height:normal; float:left; width:100%; color:#878787 !important;}
.login-sectn .form-row.select-row-small select{ height:auto; width:20%; border:1px solid #bdbdbd; font-weight:normal; font-size:14px; padding:8px 5px; border-radius:3px; margin-top:10px;}
.login-sectn .form-row input[type="date"]{ border: none; text-transform: uppercase; color: #B9B9B9; letter-spacing: 1px; margin-top: 6px; width:145px; float:right;}
select.selectpicker.show-tick.form-control {
    float: right;
    width: 45px;
}
.form-control{ color:#374353;}
.dietType, .index-select{ width:100px !important;}
.email-label label{ width:14% !important;}
.email-label input[type='text'], .email-label input[type='email']{ width:86% !important;}

p.inner-check-row-hdng{ margin-bottom:10px;}
.login-sectn .form-row .check-row{ float:left; width:100%; margin:0 0 10px 0; position:relative; }
.login-sectn .form-row .check-row input{ position:absolute; left:0;}
.login-sectn .form-row .check-row label{ float:left; width:100%; font-size:14px; padding-left:20px; color:#374353;}
.login-sectn .form-row .check-row label b{ color: #374353;}


.back-btn{ float:left !important; background:#fff; color:#878787; font-weight:600; border-radius:2px; text-transform:none; border:1px solid #878787; float:none; margin:auto !important; font-size:16px; padding:5px 28px;}
.next-btn{ float:right !important; background:#13b75e; color:#fff; font-weight:600; border-radius:2px; text-transform:none; border:1px solid #13b75e; float:none; margin:auto !important; font-size:16px; margin-top:10px; padding:5px 28px;cursor: pointer;}
.back-btn:hover{ color:#878787; }
.next-btn:hover{ color:#fff; }

.login-sectn .form-row.select-row-small.label-row-full label{ width:100%; padding-right:5%;text-transform: capitalize;}
.select-checks-box{ float:left; width:100%; padding:10px 0;}
.select-checks-box label{ padding-right: 0 !important;}
.select-checks-box .col-md-4{ margin-bottom:15px; font-size:15px; padding: 0 10px;}
.select-checks-box .col-md-4 input, .select-checks-box .col-md-8 input{ margin:2px 8px 0 0;}
.select-checks-box .col-md-8{ margin-bottom:15px; font-size:15px; padding: 0 10px;}
.build-plan-first{ padding-top:10px;}
.build-plan-first p{ float:left; width:100%; padding:0; margin:0; color:#374353; font-weight:normal; font-size:16px; text-align:center;}
.build-plan-first p i{ font-weight:bold;}

.back-btn, .next-btn, .login-btn{ box-shadow:1px 1px 5px -1px #b4b4b4;}
p.free-trail-txt{ margin-bottom:15px;}
.build-plan-first-btns .form-row.text-right.col-md-12 { text-align:left;}
.build-plan-first-btns{ margin-top:20px; font-size:18px;}
.build-plan-first-btns .back-btn{ float:right !important; position:relative; top:-5px;}

.copyright{ float:left; width:100%; margin:0; padding:0;}
.copyright p{ float:left; width:100%; margin:0; padding:0 0 15px 0; font-size:12px; text-align:right;}


/*new changes start*/
.custm-selct{ width:100px !important; float:right !important;}
.custm-selct.custm-selct-signup{ width:120px !important;}
.custm-selct.mealplan-btn{ width:80px !important;}
.custm-selct.custm-selct-numbr{ width:60px !important; float:right !important;}
.custm-selct .dropdown-toggle{ border-radius:3px; border: 1px solid #374353; font-size:17px;}
.custm-selct .dropdown-toggle:hover,.custm-selct .dropdown-toggle:active, .custm-selct .dropdown-toggle:focus{ box-shadow:none !important; background:none !important; outline:none;}
.container1 {
    display: block;
    position: relative;
    padding-left: 29px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;


	font-size:16px !important;
	}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
     padding: 7px;
}
.col-lg-3.sidebar {
    display: none;
}

/* Create a custom checkbox */
.container1 .checkmark1 {
	position: absolute;
	top: 4px;
	left: 7px;
	height: 15px;
	width: 15px !important;
	background: transparent;
	border: 2px solid;
	padding: 0;
	border-radius: 3px;
	font-size: 10px !important;
	min-width: auto !important;
	min-height: auto !important;
	text-align: center;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1 {
    background-color: none;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark1 {
    background-color: #13b75e;
    border:none;
    padding: 0;
    box-shadow: 0 1px 6.8px 0.2px rgba(169, 169, 169, 0.75);
}

/* Create the checkmark/indicator (hidden when not checked) */
.container1 .checkmark1:after {
    content: "";
    position: absolute;
    display: none;

}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark1:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark1::after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}



/*css for custom radio buttons start*/
.rbutton {
    display: block;
    position: relative;
    padding-left: 28px !important;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
}

/* Hide the browser's default radio button */
.rbutton  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border:2px solid;

}

/* On mouse-over, add a grey background color */
.rbutton :hover input ~ .checkmark {
    background-color: #13b75e;
}

/* When the radio button is checked, add a blue background */
.rbutton  input:checked ~ .checkmark {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.rbutton  input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.rbutton .checkmark::after {
	top: 3px;
	left: 3px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #13b75e;
}
/*Custom radio box css end*/


.col-md-12.form-row.pass-row input {
    font-size: 13px;
    top: 3px;
    position: relative;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
	color: #BFBFBF;
}
/*new changes end*/



/* Custom */
.error-msg {color: #F60042!important;
    font-size: 12px!important;
    float: left;
    padding: 0;
}
.login-error-msg {color: #F60042;

    padding: 0;
    left: 15px;
    padding-bottom:  10px;
    font-weight: normal;
    text-align: center;
}
.pwd-forgot-msg {color: #13b75e;

    padding: 0;
    left: 15px;
    font-weight: bold;
    padding-bottom:  10px;
    font-weight: bold;
    text-align: center;
}
.error-label {
  color: #F60042 !important;
  font-weight: bold !important;
}
.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.list-item {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    /* background-color: #03a9f4; */
}

.list-item:last-child {
    margin-bottom: 0;
}

.transition-wrapper {
    position: relative;
    z-index: 1;
}

.transition-wrapper .transition-item {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.detail-page {
    overflow: auto;
    box-sizing: border-box;
    padding: 0;
    height: 100vh;
    /* background-color: #03a9f4; */
    transition: transform 0.5s, opacity 0.5s;
}

.detail-page.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.detail-page.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.list-page {
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
    height: 100vh;
    background-color: #fff;
    transition: transform 0.5s, opacity 0.5s;
    transform: translate3d(0, 0, 0);
}

.list-page.transition-appear {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.list-page.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.list-page.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.list-page.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
.date-pikr-custm{ float:right;}
.pikr-inner-span{
  width: 42px !important;
  font-weight: normal;
  /* display: inline; */
  float: left;
  position: relative; margin: 0 3px 0 0; padding: 0;
}
.pikr-inner-span b{ position: absolute; color:#374353; right:0; font-weight: normal;}
.pikr-inner-span:after{ content: ''; position: absolute; left: 0; bottom: 0; height: 1px; width:30px; background: #cecece;}
span.pikr-inner-span.year-pikr:after { width: 37px;}
.custm-date-pikr input {
    border: none;
    width: 100% !important;
    font-weight: normal;
    /* display: inline; */
    float: left;
    position: relative;
    text-align: center;
}
.custm-date-pikr input::-webkit-input-placeholder {
color: #cecece !important;
}
.custm-date-pikr input:active, .custm-date-pikr input:focus{ outline:none; box-shadow:none;}
 
.custm-date-pikr span{ border: none; padding: 0; float: left;}
span.pikr-inner-span.year-pikr input{ width:51px !important;}
.nner-check-row-hdng {
	margin-bottom: 10px !important;
}

input:active, input:focus{ outline: none; box-shadow: none;}

/*  */

.profile-lft-menu{ float:left; width:100%; padding:0 0 0 10px; position:relative; height:100%;}
.profile-lft-menu li{ float:left; width:100%; border-bottom:2px solid #ececec; padding:15px 0; list-style:none;}
.profile-lft-menu li a{ font-size:18px; color:#374353; cursor: pointer;}
.profile-lft-menu li.active a{ font-weight:bold; color:#13b75e;}
.profile-lft-menu li.logout-link{ border:none; position:fixed; bottom:20px; padding:0 0 10px 0; width:14%;}
.logout-link svg{ float:right; position:relative; top:5px;}


.edit-profile-cntnt .dash-cntnt-dtail{ background:#fff; float:left; width:100%; padding:40px 60px; box-shadow:1px 2px 5px 0px #bebebe; margin:32px 0; width:99%;}
.edit-profile-cntnt .swap-mode-dtail-cntnt{ padding:0;}
.edit-profile-cntnt .swap-mode-dtail-cntnt h4{ margin:0 0 42px 0; color:#374353;}
.edit-profile-cntnt .swap-mode-dtail-cntnt h5{ font-size:24px; color:#374353; margin:0; display:inline-block; width:100%;}
.edit-profile-cntnt .swap-mode-dtail-cntnt p{ font-size:10px; color:#4c5765;}

.persn-details{ display:inline-block; width:100%; margin:25px 0; border-bottom:2px solid #eeeeee; padding-bottom:30px;}
.persn-details p{ font-size:16px; color:#374353; margin:0 0 15px 0;}
.persn-details p span{ margin-right:5px;}

.edit-meal-prefrnce{ display:inline-block; width:100%; margin:25px 0; border-bottom:2px solid #eeeeee; padding-bottom:30px;}
.edit-meal-prefrnce h5{ font-size:24px; color:#374353; margin:0 0 5px 0;}
.edit-meal-prefrnce p{ font-size:10px; color:#4c5765;}

.edit-meal-cook-style .form-row.select-row-small{ font-size:16px; font-weight:normal; width:100%; margin:15px 0 24px 0;}
.edit-meal-cook-style select.selectpicker.show-tick.form-control{ width:70px;}
.login-sectn.edit-meal-cook-style{ border:none; padding:0 45px 0 15px;}
.login-sectn.edit-meal-cook-style.edit-meal-cook-style-rght{ border:none; padding:0 35px 0 25px;}
.edit-meal-cook-style-rght .show-tick{ box-shadow:none;}
.edit-meal-cook-style-rght .show-tick .btn.dropdown-toggle{ margin-top:5px;}
.edit-meal-cook-style p.inner-check-row-hdng{ font-size:16px; color:#4c5765; margin:0 0 10px 0;}

.edit-meal-cook-style-rght.login-sectn .form-row.select-row-small label span{ font-size:8px;}
.edit-meal-cook-style-rght.login-sectn .no-margin-top{ margin-top:0 !important;}
.edit-meal-cook-style-rght.login-sectn .no-margin-top label{ margin-top:0 !important;}
.edit-meal-cook-style.login-sectn .form-row label{ font-size:16px;}
.edit-meal-cook-style.login-sectn .form-row .check-row label{ font-size:11px;}
.edit-meal-cook-style.login-sectn .next-btn{ float:left !important;}
.login-sectn .form-row.select-row-small.label-row-full label.container1{ font-size:14px !important; padding-top:1px;}

.pass-change-box{ border-bottom:none !important;}
.pass-change-box .col-md-6{ width:422px; max-width:100%;}
.pass-change-box .col-md-6 .next-btn{ float:left !important;}
.pass-change-form{ display:inline-block; width:100%; margin:15px 0;}
.pass-change-form .form-row{ display:flex; justify-content:flex-end; width:100%; margin:0; position:relative;}
.pass-change-form .form-row label{ width:auto !important; float:none; padding:0 7px 0 0; margin:auto; font-size:16px; color:#4c5765; font-weight:normal;}
.pass-change-form .form-row input{ flex:1; width:auto !important; margin:auto; padding:0; font-size:16px; color:#4c5765; border:none; border-bottom:1px solid #bdbdbd;}
.select-nw-inr{ margin-top:5px; }
.msg-change-pass{ float:left; width:100%; margin:0 0 10px 0;}

/* pop up css */
.upgrade-popup .modal-dialog{ width:650px; top:120px; max-width:100%;}
.upgrade-popup .modal-content{ border:none; float:left; width:100%; background:#fff; border-radius:0; margin:0 0 130px 0 !important; }
.upgrade-popup-cntnt{ float:left; width:100%; padding:0; text-align:center;}
.upgrade-popup .popup-hdng{ float:left; width:100%; text-align:center; padding:40px 25px 15px 25px;  background:none; position:relative;}
.upgrade-popup .popup-hdng h2{ color:#13b75e; font-weight:800; float:left; width:100%; margin:0 0 10px 0; font-size:36px; text-align:center; line-height:normal;}
.upgrade-popup .popup-hdng p{ color:#4a4a4a; font-weight:normal; float:left; width:100%; margin:0 0 15px 0; font-size:16px; text-align:center; line-height:normal;}
.upgrade-popup .popup-hdng .close{ top:0; right:0;}
.upgrade-popup .popup-hdng svg{ color:#333; fill:#333; top:4px; position:relative; margin:0 4px 0 -2px;}
.upgrade-popup .popup-hdng svg path{ fill:#333;}
.upgrade-popup-cntnt{ float:left; width:100%; padding:0 60px 40px 60px; margin:0;}
.upgrade-popup-cntnt h5{ color:#4c5765; font-weight:600; float:left; width:100%; margin:0 0 10px 0; font-size:24px; text-align:center; line-height:normal;}
.upgrade-popup-cntnt p{ color:#4a4a4a; font-weight:normal; float:left; width:100%; margin:14px 0 15px 0; font-size:16px!important; text-align:center; line-height:normal;}
.popup-plans{ float:left; width:100%; padding:10px 0; margin:0; text-align:center;}
.plan-green-box{ float:none; width:140px; height:76px; text-align:center; box-shadow:0 1px 6.8px 0.2px rgba(169, 169, 169, 0.75); background:#13b75e; color:#fff; font-size:18px; font-weight:600; padding:10px 0; border-radius:3px; margin:auto auto 12px auto;}
.plan-green-box button, .plan-green-box button span{ background: none !important; box-shadow: none !important; border:none !important; border-radius: 0; height:auto !important; text-shadow: none !important; font-size:18px !important; font-weight: 600 !important; font-family: 'Open Sans', sans-serif !important; line-height: normal !important;}
.plan-green-box a{ color:#fff;}
.plan-green-box a:hover, .plan-green-box a:focus, .plan-green-box a:active{ color:#fff; text-decoration:none;}
.plan-green-box span{ width:100%; float:left;}
.popup-plans p{color:#4a4a4a; font-weight:normal; float:left; width:100%; margin:0 0 2px 0; font-size:12px!important; text-align:center; line-height:normal;}
.popup-plans p strong{ font-weight:600; font-size:16px;}
.upgrade-popup .popup-ftr{ padding: 20px 0 0 0;}
.upgrade-popup .popup-ftr p{ font-size:12px!important; color:#374353; margin:0;}

.subscription-confirmed-popup.upgrade-popup .modal-dialog{ width:500px; top:120px; max-width:100%;}
.subscription-confirmed-popup .upgrade-popup-cntnt{ padding:0 30px 40px 30px;}
.upgrade-popup-cntnt p a.gren-link{ color:#13b75e; font-weight:600; text-decoration:underline;}
.back-to-planing-btn-box{ float:left; width:100%; text-align:center; padding:20px 0 0 0;}
.back-to-planing-btn{ float:none; outline:none; border:none; width:auto; font-size:18px; color:#fff; font-weight:600; box-shadow: 0 1px 6.8px 0.2px rgba(169, 169, 169, 0.75); height:auto; width:auto; line-height:normal; background:#0db65f; padding:6px 17px; border-radius:3px;}
.back-to-planing-btn:hover, .back-to-planing-btn:focus, .back-to-planing-btn:active{ color:#fff; text-decoration:none;}

/* free trial css start */

.free-trial-biling-dtail-box.free-trial-biling-paymnt-info{ padding:20px 0 0 0; border:none; margin:0;}
.free-trial-biling-dtail-box{ display:inline-block; width:100%; margin:0 0 25px 0; border-bottom:2px solid #eeeeee; padding-bottom:30px;}

.free-trial-biling-inner-dtail{ display:inline-block; width:100%; margin:0 0 10px 0; padding:0;}
.free-trial-biling-inner-dtail p{ margin:20px 0px 8px 0px; padding:0; font-size:16px !important; width:90%;}
.free-trial-biling-inner-dtail p span{ float:right; color:#13b75e;}
.free-trial-biling-dtail-box h5 .green-date{ color:#13b75e; font-weight:bold; margin-left:5px !important;}
.fre-traial-end-dtail{ text-align:center; font-size:16px !important; padding:0 17%; margin-top:35px !important;}
.free-trial-biling-dtail-box .back-to-planing-btn{ font-size:16px; padding:5px 13px;}
.free-trial-biling-inner-dtail p.subscribe-today-msg{ font-size:12px !important; color:#13b75e !important; text-align:right; margin:-7px 0 0 0 !important;}
.free-trial-biling-inner-dtail p.subscribe-today-msg.subscribe-today-msg-two{ margin:0 !important;}
.cancl-free-trail{ float:left; font-size:12px; color:#374353; margin:31px 0 0 0; background:none; border:none; outline:none; padding:0; cursor:default;}
.free-trial-biling-paymnt-info .free-trial-biling-inner-dtail p span{ float:none; margin-left:10px; font-weight:bold;}
.back-to-planing-btn.edit-paymnt-dtail-btn{ float:left; margin:22px 55px 0 0; outline: none; border: none;}
.plan-green-box button {background: none; outline: none; border: none;}
.loading{position: absolute;z-index: 999;top: 25%;left: 50%;}


.recipe_img:before{ position: absolute; left: 0; top: 0; width:100%; height:100%; background: rgba(55, 67, 83, 0.4); z-index: -1; content:"";}
.meal-post a:hover .recipe_img:before{  z-index: 1;}
.recipe_img.overlay-black:before {
    z-index: 1;
}
.delete.close:hover{opacity: 1!important;}

/*mobile css start*/

/*mobile css end*/


/*tab css start*/




input::placeholder { color: #878787; opacity: 1;}
input::-webkit-input-placeholder { /* Chrome */
  color: #878787;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #878787;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #878787;
  opacity: 1;
}
input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #878787;
  opacity: 1;
}





/*pass reset start*/
.main-cntnt-box.pass-reset-main{ padding:20px 0 11px 0;}
.pass-reset-sectn h4{ margin:0 0 0 0; font-weight:400;}
.reset-pass-txt{ margin:13px 0 29px 0 !important; padding:0 15px !important;}
.login-sectn p.try-logging-txt{ margin:23px 0 11px 0;}
.login-sectn p.try-logging-txt a{ color:#13b75e; font-weight:600;}
.pass-reset-sectn .col-md-12.form-row, .pass-reset-sectn .col-md-12.form-row{ display:flex; justify-content:flex-end;}
.pass-reset-sectn .col-md-12.form-row label, .pass-reset-sectn .col-md-12.form-row label{ width:auto !important; float:none; padding:0 7px 0 0;}
.pass-reset-sectn .col-md-12.form-row input[type="password"], .pass-reset-sectn .col-md-12.form-row input[type="text"], .pass-reset-sectn .col-md-12.form-row input[type="text"], .pass-reset-sectn .col-md-12.form-row input[type="password"]{ flex:1; width:auto !important; }


.main-cntnt-box.pass-recover-box{ width:500px; max-width:100%; float:none; margin:auto; display:inline-block; background:#fff; padding:20px 0 17px 0; min-height:467px;}
.pass-recover-box .main-cntnt-inner{ padding:25px 5px 20px 5px;}
.pass-recover-box .login-sectn{ border-left:none; padding:0 55px;}
.pass-recover-box .login-sectn .form-row label{ width:40%;}
.pass-recover-box .login-sectn .form-row input[type="text"]{ width:60%;}
.pass-recover-box .login-btn{ margin-top:27px !important;}
.pass-recover-box .reset-pass-txt{ margin:13px 0 29px 0 !important;}
.main-cntnt-box.pass-recover-box .save-signin-btn{ text-transform:none; padding:5px 35px; margin-top:40px !important;}
.main-cntnt-box.pass-recover-box .col-md-12.form-row{ margin:10px 0 14px 0;}
/*pass reset end*/


/*dash css start*/
img{ max-width:100%;}
body{ background:#f3f3f3; word-wrap:break-word;}
header{ padding:10px 15px; -webkit-box-shadow: 0px 8px 30px 0px rgba(169,169,169,0.2);
-moz-box-shadow: 0px 8px 30px 0px rgba(169,169,169,0.2);
box-shadow: 0px 8px 30px 0px rgba(169,169,169,0.2);}
.navbar-header{ padding-left:20px;}
.navbar-main.col-md-9.nav-dash { padding: 0; float: right;}
.dashboard-main { /*float: left;*/ float:none; width: 100%;}
.dash-cntnt .container{ width:100%; padding:0; max-width:100%;}
.dash-cntnt .navbar-brand img{ margin-top:3px;}
.nav-dash ul{ width:100%;}
.nav-dash ul li{ width:24%;}
.nav-dash ul li a{ padding:0; font-size:18px; color:#878787 !important; font-weight:bold;}
.nav-dash ul li a:hover{ color:#374353 !important;}
.nav-dash ul li.active a{ color:#374353 !important; background:none !important;}
.nav-dash ul li.active button{ color:#374353 !important; background:none !important;}
.nav-dash ul li.dropdown a{ font-weight:normal; font-size:14px; color:#67707D; font-weight:normal;}
.nav-dash ul li.dropdown a strong{ font-weight:normal;}
.nav-dash ul li.dropdown .top-usr-drpdwn{ color:#f4f4f4; background:#cccccc; border-radius:50px; height:42px; width:42px; line-height:42px; font-size:24px; position:relative; top:6px; text-align:center; display:inline-block;}
.nav-dash ul li.dropdown .top-usr-drpdwn svg{ fill:#f4f4f4; height:25px; width:25px; line-height:normal; top:5px; position:relative;}
/* .navbar-nav > li > .dropdown-menu{ width:100px; right:0; left:auto; margin-top:10px; padding:10px;} */

.navbar-nav > li > .dropdown-menu{right:0; left:auto; margin-top:19px; padding:10px; border:none;}
/* .col-lg-3.sidebar{ width:21%; padding-left:0; float:left;} */
.sidebar-cntnt{ padding:25px; background:#ffffff; float:left; width:100%;}
.sidebar-cntnt h4{ float:left; width:100%; color:#374353; font-size:24px; margin:0 0 15px 0;}

.sidemenu-icn{ float:left; width:38px; height:40px; line-height:normal; text-align:center; position:absolute; left:0;}
.sidemenu-icn svg{ width:30px; margin-top:2px;}
.sidemenu-icn span{ float: left; width: 100%; font-size: 8px; color: #374353; position: absolute; bottom:5px; left: 0; }
.sidemenu-icn-tag-inner{ right:5px; top:3px; width:auto !important; left:auto !important;}
.sidemenu-block{ float:left; width:100%; margin:0 0 15px 0;}
.sidemenu-row{ float:left; width:100%; margin:0 0 7px 0; position:relative; padding:0 0 0 50px;}
.sidemenu-row.sidemenu-row-hdng .sidemenu-cntnt-row{ float:left; width:100%;}
.green-block .row-undrline{ border-bottom:1px solid #13b75e;}
.yellow-block .row-undrline{ border-bottom:1px solid #ffd700;}
.blue-block .row-undrline{ border-bottom:1px solid #00d1ff;}
.red-block .row-undrline{ border-bottom:1px solid #ff003d;}
.orange-block .row-undrline{ border-bottom:1px solid #ffb21a;}
.light-block .row-undrline{ border-bottom:1px solid #878787;}
.hazel-block .row-undrline{ border-bottom:1px solid #00c1af;}

.green-icn-box.sidemenu-icn{ background:#13b75e!important;}
.yellow-icn-box.sidemenu-icn{ background:#ffd700!important;}
.blue-icn-box.sidemenu-icn{ background:#00d1ff!important;}
.red-icn-box.sidemenu-icn{ background:#ff003d!important;}
.sidemenu-row h5{ font-size:18px; color:#374353; font-weight:900; float:left; width:100%; margin:0 0 3px 0;}
.sidemenu-row p{ font-size:12px; color:#374353; font-weight:normal; float:left; width:100%; margin:0; line-height:normal;}
.sidemenu-row p span{ float:right; width:auto; margin:auto; padding-left:0;}
.sidemenu-row p small{ font-size:10px; color:#374353; font-weight:normal; float:left; width:100%; margin:0; line-height:18px;}

.dash-main-cntnt{ padding:0 15px 0 18px; width:79%; float:left; min-height:600px;}
/* .dash-main-cntnt{ padding:0 0 0 15px; width:79%; float:left;} */
.dash-cntnt-dtail{ background:#fff; float:left; width:100%; padding:0 0 40px 0; box-shadow:1px 2px 5px 0px #bebebe; margin:32px 0;}
.dash-cntnt-dtail-hdr{ float:left; width:100%; padding:11px 0 0px 0; font-size:24px;}
.dash-cntnt-dtail-hdr h3{ float:left; width:auto; padding:1px 0 0 15px; font-size:24px; margin:auto; line-height:normal;}
.calndr-cntrls{ float:none; margin:auto; display:inline; padding-left:30px;}
.calndr-cntrls a{ margin:auto 9px; cursor:pointer;}
.calndr-cntrls svg { width: 11px;}
.edit-schedule-btn{ float:right; background:none; border-radius:0; border:1px solid #374353; color:#374353; font-size:15px; padding:5px 12px; border-radius:3px; margin-right:15px;}

.days-cal{ float:left; width:100%; padding:10px 0 0px 0; box-shadow:2px 2px 5px -2px #d6d6d6 ;}
.days-cal span{ float:left; margin:0.5%; width:13.28%;/* display:inline-block;*/ font-size:18px; border-bottom:5px solid transparent; position:relative; text-align:center; line-height:normal;}
.days-cal span b{ font-weight:900;}
.days-cal span.days-hdng-sun{ border-bottom:5px solid #13b75e;}
.days-cal span.days-hdng-thu{ border-bottom:5px solid #ffd700;}
.days-cal span.days-hdng-fri{ border-bottom:5px solid #ff003d;}
.days-cal span.days-hdng-sat{ border-bottom:5px solid #00d1ff;}
.days-cal span svg{ width:40px; top:-5px; position: relative; line-height:10px;  height:40px; float:left; margin-bottom:-15px;}

.cal-table-cntnt{ float:left; width:100%; padding:10px 0 0 0; margin:0;}
.cal-table-cntnt-row{ float:left; width:100%; padding:0; margin:30px 0 0 0; position:relative;}
.side-hdng{ position:absolute; left:-43px; transform:rotate(-90deg); font-size:18px; color:#374353; width:60px; top:50%; margin-top:-30px;}

.cal-days-cntnt{ float:left; width:100%; padding:0; min-height:193px; margin:0; position:relative;}
.meal-post,.drag-effect{padding: .3px .3px .3px .3px;background: #fff; float:left; margin:0; width:14.28%; /* display:inline-block; */ font-size:18px; position:relative; text-align:center; line-height:normal; box-shadow:1px 2px 5px 0px #d6d6d6; padding-bottom:5px; min-height:195px; border-left:1px solid #e4e4e4;}
.drag-effect{opacity: .2;}

.meal-post .sidemenu-icn{ position:absolute; left:0; top:10px; height:36px; width:36px; z-index: 1;}
.meal-post h5{ color:#374353; font-weight:normal; float:left; width:100%; margin:5px 0; font-size:12px; text-align:left; padding:0 8px; line-height:normal; max-height:34px; min-height:34px; overflow:hidden;}
.meal-post-data{ float:left; width:100%; padding:2px;}
.meal-post-data-box.meal-post-data-img svg{ height:23px; color:#878787;}
.dashboard-main svg{ fill:#4a4a4a; color:#4a4a4a;}
.dashboard-main svg path{ fill:#4a4a4a; color:#4a4a4a;}
.dashboard-main .meal-post-data svg{ fill:#878787; color:#878787;}
.dashboard-main .meal-post-data svg path{ fill:#878787; color:#878787;}
.meal-post-data-box{ font-size:8px; text-align:center; color:#878787; font-weight:normal; float:left; width:26%;}
.meal-post-data-box:nth-child(1){ width:15%;}
.meal-post-data-box:nth-child(3){ width:33%;}
.meal-post-data-box b{ float:left; width:100%;}
.no-shadow-post{ box-shadow:none !important; border:none;}
.lunch-recipes-box{ float:left; width:100%;}
.meal-post-data-box.meal-post-data-box-full{ width:75%; text-align:left;}

.dash-main-cntnt .sidemenu-icn svg{ margin-top:-2px; width:31px;}
.dash-main-cntnt .sidemenu-icn.yellow-icn-box svg, .dash-main-cntnt .sidemenu-icn.red-icn-box svg, .dash-main-cntnt .sidemenu-icn.orange-icn-box svg,.dash-main-cntnt .sidemenu-icn.light-icn-box svg, .dash-main-cntnt .sidemenu-icn.hazel-icn-box svg{ fill:#4a4a4a;}
.dash-main-cntnt .sidemenu-icn.yellow-icn-box svg path, .dash-main-cntnt .sidemenu-icn.red-icn-box svg path,.dash-main-cntnt .sidemenu-icn.orange-icn-box svg path,.dash-main-cntnt .sidemenu-icn.hazel-icn-box svg path, .dash-main-cntnt .sidemenu-icn.light-icn-box svg path{ fill:#4a4a4a;}
.green-icn-box.sidemenu-icn svg, .yellow-icn-box.sidemenu-icn svg, .red-icn-box.sidemenu-icn svg, .hazel-icn-box.sidemenu-icn svg,.blue-icn-box.sidemenu-icn svg, .orange-icn-box.sidemenu-icn svg,.light-icn-box.sidemenu-icn svg{ width: 22px; margin-top:4px;}
.green-icn-box.sidemenu-icn span, .yellow-icn-box.sidemenu-icn span, .red-icn-box.sidemenu-icn span, .hazel-icn-box.sidemenu-icn span, .blue-icn-box.sidemenu-icn span, .orange-icn-box.sidemenu-icn span,.light-icn-box.sidemenu-icn span{ bottom:1px;}
.sidemenu-icn-small{ width:37px; height:39px; left:1px;}
.sidemenu-icn-small svg{ width:34px; margin-top:-2px;}
.sidemenu-icn-small svg path{ fill:#4a4a4a;}
.sidemenu-icn-small span{ bottom:2px !important;}


.add-meal-post{ float:left; width:98%; margin:0 1%; height:100%; top:0; left:0; position:absolute; border:1px solid #cdd0d4; text-align:center; padding:40% 0 0 0;}
.add-meal-post svg{ width:35px; height:35px;}
.add-meal-post svg, .add-meal-post svg path{ fill:#13b75e;}
.add-meal-post span{ float:left; width:100%; font-size:12px; color:#374353; text-align:center;}
.sidebar-cntnt-bg{ position:fixed; left:-15px; height:100%; width:21%; background:#fff; top:0; z-index:-1;}
/*dash css end*/

.modal-backdrop{ background:#cacaca;}
#schedule-popup .modal-dialog{ width:890px; top:63px; max-width:100%;}
#schedule-popup .modal-content{ border:none; float:left; width:100%; background:#fff; border-radius:0; margin:0 0 130px 0 !important; }
.schedule-popup-cntnt{ float:left; width:100%;}
.popup-hdng{ float:left; width:100%; background:#13b75e; color:#fff; text-align:center; font-size:36px; padding:6px 0;}
.popup-hdng span{ float:none; width:auto; position:relative; top:-20px;}
.popup-hdng svg{ width:74px; color:#fff; fill:#fff; top:4px; position:relative; margin:0 4px 0 -2px;}
.popup-hdng .close{ position:absolute; right:5px; color:#fff; opacity:1; border-radius:50px; outline: none;}
.popup-hdng .close svg{ width:auto;}

.schedule-popup-cntnt{ float:left; width:100%; padding:34px 60px; margin:0;}
.schedule-popup-cntnt h5{ color:#374353; font-weight:normal; float:left; width:100%; margin:0 0 1px 0; font-size:24px; text-align:left; line-height:normal;}
.popup-week{ float:left; margin:0 0 10px 0; width:100%; text-align:center; line-height:normal; position:relative; padding:0 0 0 98px; min-height:30px;}
.popup-week-day{float:left; margin:0.5%; width:13.28%;/* display:inline-block; */ font-size:18px; position:relative; text-align:center; line-height:normal; text-transform:uppercase; word-wrap:normal;}
.popup-week-day b{ float:left; width:100%; font-weight:900;}
.popup-week-check{ float:left; width:100%; padding:11px 0 0 0; margin:0; border-bottom:1px solid #e0e0e0; border-top:1px solid #e0e0e0;}
.popup-side-hdng{ position:absolute; left:0; margin:1px 0 0 0; font-size:18px;}
.popup-side-hdng.popup-side-hdng-date{ font-size: 14px; text-align:left; padding-top: 5px;}
.popup-side-hdng.popup-side-hdng-date b{ display: inline-block; width: 100%; margin-bottom: 4px;}
.popup-week-day .container1{ margin:0; padding:0; text-align:center; position:relative; float:left; width:100%;}
.popup-week-day .container1 input[type="checkbox"]{ float: none; margin: auto; width: 20px; left: 50%; padding: 0; min-height: 23px; margin-left: -10px;}
.popup-week-day .container1 .checkmark1{ left:50%; padding:0; min-height:auto !important; text-align:center; margin-left:-7.5px; width:19px !important; height:19px; border-radius:2px;}
.popup-week-day .container1 .checkmark1::after{ left:7px; top:3px; width:6px; height:11px;}
.popup-checkbox-copy{ float:left; width:100%; padding:25px 0 0 0;}
.popup-checkbox-copy .popup-week-check{ border:none; padding:0;}
.popup-ftr{ float:left; width:100%; padding:25px 0 0 0; font-size:15px; color:#374353; position:relative;}
.green-btn{ float:right !important; background:#13b75e; color:#fff; font-weight:bold; border-radius:2px; text-transform:none; border:1px solid #13b75e; float:none; margin:3px auto auto auto !important; font-size:20px; padding:5px 10px; min-width:22%; max-width:100%;}
.green-btn:hover, .green-btn:focus, .green-btn:active{ color:#fff;}
.popup-alert-msg{ float:left; width:75%; padding:0 0 0 46px; font-size:15px; color:#374353; position:relative;}
.popup-alert-msg span{ position:absolute; color:#FF003D; left:0;}
.popup-alert-msg b{ text-decoration:none; font-weight:bold;}

.change-dish-box{ float:left; width:100%; z-index:99; position:absolute; left:0; bottom:30px; text-align:center;}
.change-dish-box .swap-meal-btn{ float:none; cursor:pointer; margin:auto; text-transform:uppercase; font-size:17px; padding:8px 15px;}
.swap-meal-btn:hover, .swap-meal-btn:active, .swap-meal-btn:focus{ color:#374353; text-decoration:none;}

.mb-only{ display:none;}
.status{ float:left; width:100%; margin:0; padding:0; text-align:center; padding:15px; font-size:20px; text-transform:uppercase; text-decoration:none;}


.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus{ background:none !important;}
.navbar-default .navbar-nav > .open > a{ background:none !important;}
.pass-reset-main p.hdng-para{ min-height:45px;}
/* .pass-reset-main .login-sectn p{ margin:17px 0 0 0;} */

.form-btn-box{ display:block !important; margin-top:11px !important;}


#schedule-popup .popup-hdng svg, #schedule-popup .popup-hdng svg path { fill: #fff !important;}
div#schedule-popup {
    overflow: visible;
    margin-bottom: 50px;
    position: fixed;
    bottom: auto;
    top: 11px;
	max-height:100%;
    overflow-y:auto;
    width:101%
}
#schedule-popup .close svg{ width:30px; height:30px;}
div#schedule-popup
.pass-form-row {
	float: left;
	width: 100%;
	position: relative;
}
.pass-form-row .error-msg {
	text-align: left;
	padding: 0 15px;
	margin-top: -9px;
	position: relative;
	left: 0;
	font-size: 9px!important;
}

.static-cal-icn {
    margin-left: -5px;
    left: 0;
    margin-top: 2px;
    z-index: 999;
    height: 35px !important;
    width: 35px !important;
    display: none;
}
.days-hdng-bold .static-cal-icn{ display: block; z-index: 0;}
.days-hdng-bold .static-cal-icn .hide{ display: none;}

.loaderImage{
    background: url('/images/sprites.gif');
    width:64px;
    height:64px;
}

.alert-previous-week {
    float: right;
    width: 50%;
    color: #F60042;
    font-size: 15px;
    margin: -4px 40px 0 0;
    font-weight: 600;
    line-height: 22px;
}
.sidemenu-close{
    position: absolute;
    float: right;
    right: 6px;
    top: 4px;
    z-index: 9;
}
.delete{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
    }

.meal-post.no-shadow-post a.add-meal-post {
    display: none; cursor: pointer;
}
.meal-post.no-shadow-post:hover a.add-meal-post {
    display: block;
}
.days-hdng-bold{
    font-weight: 900;
}
.days-hdng-bold.green-icn-box{
    border-bottom: 5px solid #13b75e!important;

}
.days-hdng-bold.yellow-icn-box{
    border-bottom: 5px solid #ffd700 !important;

}
.days-hdng-bold.orange-icn-box{
    border-bottom: 5px solid #ffb21a!important;
}
.days-hdng-bold.blue-icn-box{
    border-bottom: 5px solid #00d1ff!important;
}
.days-hdng-bold.red-icn-box{
    border-bottom: 5px solid #ff003d!important;
}
.days-hdng-bold.light-icn-box{
    border-bottom: 5px solid #878787!important;
}
.days-hdng-bold.hazel-icn-box{
    border-bottom: 5px solid #00c1af!important;
}


.form-row.text-center.col-md-12.form-btn-box {
    margin-bottom: 13px;
}
.orange-icn-box.sidemenu-icn {
    background: #ffb21a !important;
}
.light-icn-box.sidemenu-icn {
    background: #878787 !important;
}
.hazel-icn-box.sidemenu-icn {
    background: #00c1af !important;
}
.home-reset-pass-msg{ font-size: 14px; padding-bottom: 26px; margin-top:-10px; color:#374353;}
.knife-svg-lft-spl svg{ width: 34px !important; margin-top: -2px !important;}

/*changes start*/


.meal-detail-popup{ max-height:100%; padding:0 !important; overflow:auto; width:101%;top:54px;}
.meal-detail-popup .modal-dialog{ width:75%; text-align:center; padding-bottom:20px;}
.meal-detail-popup .modal-content{ border:none; float:none; width:1024px; max-width:100%; background:#fff; border-radius:0; text-align:left; display:inline-block; box-shadow: 0 0 6.8px 0.2px rgba(169, 169, 169, 0.5);}

.meal-img-dtail{ float:left; width:39%; position:absolute; height:100%; min-height:100%;}
.img-side-full{ position:absolute; left:0; float:left; height:100%; width:100%; overflow:hidden;}
.img-side1{ position:absolute; left:0; float:left; height:50%; width:100%; overflow:hidden;}
.img-side2{ position:absolute; top:50%; left:0;  float:left; height:50%; width:100%; overflow:hidden;}
.meal-img-dtail img{ min-width:100%; height:100%; max-width:none;}
.meal-cntnt-dtail{ float:right; width:61%; position:relative;}
.meal-cntnt-dtail ul.nav-tabs{ float:left; width:100%; background:#13b75e; padding:0; margin:0; text-align:center; border:none;}
.meal-cntnt-dtail ul.nav-tabs li{ float:none; width:auto; background:none; padding:0; margin:auto; min-width:24%; display:inline-block;}
.meal-cntnt-dtail ul.nav-tabs li a{ float:none; width:auto; background:none; padding:3px 10px; margin:9px auto auto; font-size:24px; color:#fff; border-radius:0; border:none;}
.meal-cntnt-dtail ul.nav-tabs li.active a{ background:#fff; color:#4a4a4a; border:none;}
.meal-cntnt-dtail ul.nav-tabs li a:hover{ border:none;}

.meal-detail-popup .tab-content{ float:left; width:100%;}
.tab-top-cntnt{ float:left; width:100%; padding:34px 10% 10px 10%; min-height:470px; max-height:470px; overflow: auto;}
.tab-top-cntnt h3{ float:left; width:100%; font-size:36px; color:#4a4a4a; margin:0 0 5px 0;}
.after-hdng-cntnt{ float:left; width:100%; font-size:20px; color:#9b9b9b; margin:0 0 3px 0;}
.after-hdng-cntnt span{ float:left; width:auto; font-size:14px; color:#374353; margin:0 50px 0 0;}

.popup-main-icn-box{ float:left; width:100%; padding:22px 0 28px 0; margin:0; text-align:center; border-bottom:2px solid #cbcbcb;}

.popup-main-icn-box .col-md-3.dtail-popup-gril-icn svg{ height:50px;}
.popup-main-icn-box .col-md-3 svg{ height:37px;}
.popup-main-icn-box .col-md-3 b{ float:left; width:100%; font-family:'Nunito', sans-serif; font-size:16px; color:#374353; line-height:11px;}
.popup-main-icn-box .col-md-3 span{ float:left; width:100%; font-family:'Nunito', sans-serif; font-size:12px; color:#374353;}
.chef-cap-small svg{ height:69px !important; position:relative; margin-top:-18px; margin-bottom:-14px;}

.meal-breakdown{ float:left; width:100%; padding:25px 0; margin:0;}
.meal-breakdown h4{ float:left; width:100%; font-size:28px; color:#4a4a4a; margin:0 0 20px 0;}
.meal-breakdown-row{ float:left; width:100%; padding:0 0 0 63px; margin:0 0 20px 0; position:relative;}
.meal-breakdown-row-tag{ float:left; width:43px; height:43px; position:absolute; left:0; text-align:center; text-transform:uppercase; line-height:43px; background:#c4edd7; color:#374353; top:2px; font-weight:bold; font-size:12px;}
.meal-breakdown-row h5{ float:left; width:100%; font-size:20px; color:#374353; margin:0 0 5px 0;}
.meal-breakdown-row span{ float:left; width:auto; font-size:14px; color:#374353; margin:0 50px 0 0;}

.popup-ftr-nw{ float:left; width:100%; padding:15px 10% 15px 10%; background:#ededed; height:76px; /*position:absolute;*/ bottom:0;}
.popup-ftr-nw .green-btn{ float:right; width:auto; margin:7px auto auto auto !important; line-height:normal; min-width:95px; font-size:16px; min-height:auto; padding:4px 10px; box-shadow: 0 1px 6.8px 0.2px rgba(169, 169, 169, 0.75);}
.popup-ftr-nw .col-md-4.text-left{ padding-right:0;}
.swap-meal-btn{ float:left; cursor:pointer; width:auto; padding:5px 10px; background:#ffd700!important; font-size:16px; font-weight:bold; color:#374353; margin-top:7px; border-radius:2px; box-shadow: 0 1px 6.8px 0.2px rgba(169, 169, 169, 0.75);}
.swap-meal-btn svg{ width:18px; height:18px; position:relative; top:2px;}
.swap-meal-btn svg path{ fill:#374353;}
.popup-ftr-servings{ font-size:18px; color:#374353; padding-right:0;}
.popup-ftr-servings strong{ font-size:16px; color:#13b75e; border:none; border-bottom:1px solid #13b75e; background:#fff; border-radius:0; width:40px; font-weight:600; padding:0 8px;}
.popup-ftr-servings span{ font-size:12px; color:#374353; float:left; width:100%;}

.popup-ingredients{ float:left; width:100%; padding:10px 0 5px 0; margin:0;}
.popup-ingredients.popup-instructions ol{ max-height:75px; }
.popup-ingredients h4{ float:left; width:100%; font-size:20px; color:#374353; margin:0 0 20px 0; position:relative;}
.popup-ingredients h4:after{ bottom:-5px; left:0; height:2px; width:200px; position:absolute; content:""; background:#c0c0c0;}
.popup-ingredients ul{ float:left; width:50%; margin:0; padding:0 10px 0 0;}
.popup-ingredients li{ float:left; width:100%; margin:0; padding:3px 0; font-size:14px; color:#4a4a4a; list-style-position:inside;}
.popup-ingredients ol{ float:left; width:100%; margin:0; padding:0;}
.popup-ingredients li{ float:left; width:100%; margin:0; padding:3px 0; font-size:14px; color:#4a4a4a; list-style-position:inside;}
.popup-main-icn-box .col-md-3.popup-time-icn svg{ height:33px; margin-bottom:4px;}
.dtail-popup-close{ position:absolute; right:5px; top:8px; opacity:1;}
.dtail-popup-close svg{ height:30px; width:30px;}
.dtail-popup-close svg path{ fill:#fff;}

.build-plan-btn {
	background: #13b75e;
	color: white;
	font-size: 22px;
	border: none;
	font-weight: 700;
	text-decoration: none;
	padding: 5px 30px;
	box-shadow: 0 1px 6.8px 0.2px rgba(169, 169, 169, 0.75);
	border-radius: 2px;
	margin-top: 70px;
}
.build-plan {
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;
}
.build-new-plan{
    text-align: center;
}
.build-plan p{ margin-bottom: 0;}
.equipment-icn{ opacity:.7; height:22px; width:22px;}
.equipment-icn1{ margin-bottom: 3px; height: 50px; width: 50px;}
/* changes end*/

/* media queries*/










.meal-post a{ display:block; float:left; width:100%; height:100%; cursor:pointer;}
.divider-small, .divider-small-scroll{ font-size: 8px; color:#878787; text-align: center; padding-right: 25px;}
.divider-small span{ background: #fff; position: relative; z-index: 9; width:auto; float: none; margin: auto; padding:0 4px;}
span.divider-line{ position:relative; z-index:0; float:left; width:100%; height:1px; background:#ccc; bottom:4px;}

.divider-small.divider-top-big{ font-size:14px; padding:0 2px 7px 2px; color:#374353;}
.divider-small.divider-top-big span.divider-line {
    position: relative;
    z-index: 0;
    float: left;
    width: 100%;
    height: 1px;
    background: #878787;
    bottom: 10px;
}
button.delete.close svg {
    width: 18px; height: 18px; opacity:0.8
}
button.delete.close svg:hover{
     opacity:1;
}
button.delete.close svg path {
    fill: #fff;
    /* fill:red; */
}

.sliderighttrue, .sliderightfalse {


    position: relative;
    left: 00px;
    -webkit-animation: slideIn .5s forwards;
    -moz-animation: slideIn .5s forwards;
    animation: slideIn .5s forwards;
  }
.sliderightfalse {
    position: relative;
    left: 00px;
    -webkit-animation: slideOut .5s forwards;
    -moz-animation: slideOut .5s forwards;
    animation: slideOut .5s forwards;

  }
  @-webkit-keyframes slideIn {
    0% {
      transform: translateX(00px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @-webkit-keyframes slideOut {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @-moz-keyframes slideOut {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes slideOut {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .slidelefttrue {


    position: relative;
    left: 00px;
    -webkit-animation: slideInLeft .5s forwards;
    -moz-animation: slideInLeft .5s forwards;
    animation: slideInLeft .5s forwards;
  }
   .slideleftfalse {


    position: relative;
    left: 00px;
    -webkit-animation: slideOutLeft .5s forwards;
    -moz-animation: slideOutLeft .5s forwards;
    animation: slideOutLeft .5s forwards;
  }
  @-webkit-keyframes slideInLeft {
    0% {
      transform: translateX(00px);
    }
    100% {
      transform: translateX(00px);
    }
  }
  @-moz-keyframes slideInLeft {
    0% {
      transform: translateX(00px);
    }
    100% {
      transform: translateX(00px);
    }
  }
  @keyframes slideInLeft {
    0% {
      transform: translateX(00px);
    }
    100% {
      transform: translateX(00px);
    }
  }
  @-webkit-keyframes slideOutLeft {
    0% {
      transform: translateX(00px);
    }
    100% {
      transform: translateX(00px);
    }
  }
  @-moz-keyframes slideOutLeft {
    0% {
      transform: translateX(00px);
    }
    100% {
      transform: translateX(00px);
    }
  }
  @keyframes slideOutLeft {
    0% {
      transform: translateX(00px);
    }
    100% {
      transform: translateX(00px);
    }
  }
  .hidden-drag-ghost{
    opacity:1;
    z-index:8000;
    position: fixed;
    top: -999990;
    left: -999990;
    width:12.28%;


  }
   .test{
      display: none;
  }

   .delete.close{
      display: block !important;
      border:0px;
      outline:0px;
      z-index: 1;
  }
  .dash-main-cntnt .sidemenu-icn svg {
    margin-top: -1px !important;
    width: 30px;

}
.leftOver{
    padding: 4px 0 3px 0;
    max-height: 27px;
    margin-top: 0 !important;
    fill: #4a4a4a;
}
.no-shadow-post a {
    width: 99%;
}

/*swap page css start*/
.swap-page.dashboard-main{ background:#fff}
.swap-page .sidebar-cntnt-bg{ background:#f7f7f7; box-shadow:8px 0 20px 0 rgba(169, 169, 169, 0.35); z-index:0;}
.swap-page .sidebar-cntnt h4{ position:relative; z-index:1;}
.dash-cntnt-dtail.swap-mode-dtail{ background:none; padding:0 0 0px 0; box-shadow:none; margin: 0;}
.swap-mode-dtail .dash-cntnt-dtail-hdr h3{ padding:0;}
.swap-mode-dtail-cntnt{ float:left; width:100%; padding:5px 0 0 0}
.swap-mode-dtail-cntnt h4{ float:left; width:100%; color:#4a4a4a; font-size:36px; font-weight:600;}
.swap-mode-dtail-cntnt p{ float:left; width:100%; color:#4a4a4a; font-size:16px; margin-top:4px;}
.swap-mode-dtail .cal-table-cntnt-row { margin: 20px 0 0 0;}
.swap-mode-dtail .cal-days-cntnt { margin: 0 0 0 -8px;}
.swap-mode-dtail .meal-post, .swap-mode-dtail  .drag-effect { margin: 0 1%; width: 14.66%; padding:0 0 1px 0; min-height:191px; margin-bottom: 50px;}
.swap-mode-dtail .meal-post-data-box, .swap-mode-dtail .meal-post-data-box:nth-child(1){ width:33%;}
.swap-mode-dtail .cal-table-cntnt{ padding:20px 0 29px 0;}
.sidebar .meal-post{ width:100%; margin:0; padding:0;}
.sidebar .meal-post h5 { max-height: 46px; min-height: auto; font-size:16px;}
.sidebar .meal-post-data-box.meal-post-data-img svg { height:30px; width:32px;}
.sidebar .meal-post-data-box b{ float:left; width:100%; font-size:14px; position:relative; bottom:-3px; margin-top:-2px;}
.sidebar .meal-post-data{ padding:2px 2px 8px 2px;}
.sidebar .meal-post-data-box{ font-size:10px;}
.sidebar .meal-post-data-box.meal-post-data-img svg path{ fill:#4a4a4a;;}
.swap-sidemenu{ float:left; width:100%; padding:0; margin:35px 0 15px 0; position:relative; z-index:1;}
.swap-sidemenu h3{ font-size:24px; color:#4c5765; float:left; width:100%; margin:0 0 10px 0; border-bottom:1px solid #c0c0c0; padding:0 0 8px 0; text-align:center;}
.swap-sidemenu ul{ float:left; width:100%; padding:0; margin:0 0 15px 0;}
.swap-sidemenu ul li{ float:left; width:100%; padding:3px 0; margin:0; font-size:15px; color:#4a4a4a; list-style:none;}
.swap-sidemenu ul li b{ font-weight:bold; font-size:16px;}
.swap-sidemenu ul li label{ float:left; width:auto; margin-right:-5px;}
.swap-sidemenu ul li .container1 .checkmark1{ top: 5px; left: 4px; height: 13px; width: 13px !important; border: 1px solid; border-radius: 2px;}
.swap-sidemenu ul li .container1 input:checked ~ .checkmark1 { border: none !important;}
.swap-sidemenu ul li .container1 .checkmark1::after { left: 5px; top: 1px;}
.swap-sidemenu ul li:first-child{ padding-bottom:5px;}
.back-to-plan{ float:right; background:#13b75e; position:relative; padding:6px 12px 6px 18px; color:#fff; font-weight:600; border-radius:2px; border:none; margin:3px 10px auto auto; font-size:16px; width:205px; height:34px;}
.back-to-plan:hover{ color:#fff;}
.back-to-plan svg{ position:absolute; left:0; z-index:9; width:27px; top:3px; margin:0; height:30px; color:#fff; fill:#fff;}
.recipe-filtr-side svg{ width:22px; height:22px; float:left; position:relative; top:4px;}
.recipe-filtr-side svg path{ fill:#000;}

.popup-ftr-servings.top-txt-only{ padding-top:11px;}
.headline-swap-recipe-copy p{
    text-align: center; font-size: 18px;
    color: #4a4a4a;
}
.headline-swap-recipe-copy span p{
    margin-top:50px;
    margin-bottom:50px;
}

/*swap page css end*/
/*grocery list css start*/
.grocery-list-page .sidebar-cntnt h4{ font-size:16px; line-height:normal;}
/* .grocery-list-page .sidemenu-row h5{ margin:6px 0 3px -40px; text-transform:uppercase; z-index:99; position:relative;} */
.grocery-list-page .print-grocery-list-btn{ background:#FF003D !important;}
.grocery-list-cntnt{ float:left; width:100%; padding:20px 0;}
.grocery-list-cntnt .col-md-6{ width:50% !important; margin-bottom: 20px;}
.grocery-inner-list{ float:left; width:100% !important; position:relative; padding:0 0 0 0px; margin:0 0 30px 0;}
.grocery-inner-list ul{ float:left; width:100%; margin:0; padding:0;}
.grocery-inner-list li{ float:left; width:100%; font-size:14px; color:#374353; border-bottom: none !important; padding:6px; list-style:disc;}
.grocery-inner-list li.bordr-top-hdng{ border-bottom:2px solid #13b75e; margin-bottom:5px; padding:0px 6px}
.grocery-inner-list li b{font-size:20px; color:#374353; font-weight:normal;}
.grocery-inner-list li.bordr-top-hdng{ list-style: none !important;}

.grocery-list-icn{ position:absolute; left:0; width:38px; height:36px;}
.green-icn-list .grocery-list-icn{ background:#13b75e;}
.red-icn-list .grocery-list-icn{ background:#ff003d;}
.red-icn-list li.bordr-top-hdng{ border-bottom:2px solid #ff003d;}
.yellow-icn-list .grocery-list-icn{ background:none;}
.yellow-icn-list li.bordr-top-hdng{ border-bottom:2px solid #ffd700;}
.greenmix-icn-list .grocery-list-icn{ background:#00c1af;}
.greenmix-icn-list li.bordr-top-hdng{ border-bottom:2px solid #00c1af;}

.blue-icn-list .grocery-list-icn{ background:#00d1ff;}
.blue-icn-list li.bordr-top-hdng{ border-bottom:2px solid #00d1ff;}
.grocery-list-cntnt .grocery-list-icn svg{ position:relative; top:-4px;}


.grocery-inner-list li div { position: relative; display: inline;}
.grocery-inner-list li div img{margin-top: -15px; margin-right: 10px;}
.grocery-inner-list li.ingredient-strike {text-decoration-line: line-through; color: #969696 }
.grocery-inner-list li .container1{ display: none;}
.grocery-inner-list li .container1 .checkmark1 {display: none; width:18px!important; height: 18px; top:2px; left:0px;}
.grocery-inner-list li.listStyle { font-size:12px }
.grocery-inner-list li.listStyle .container1 .checkmark1{ display: none;}
.grocery-inner-list li.listStyle .container1 { display: none;}
.display-grocery-list{ width: 85%; text-align: center; position: relative; font-size: 16px; float: left; font-weight: 700; padding-bottom: 10px;}
.display-grocery-list button:last-child{border-left: 0px solid #D1D1D1; border-bottom-left-radius: 0; border-top-left-radius: 0; border-bottom-right-radius: 5px; border-top-right-radius: 5px;}
.display-grocery-list button{padding: 4px 19px 5px 18px; border: 1.5px solid #D1D1D1; border-radius: 5px; border-bottom-right-radius: 0px; border-top-right-radius: 0px;}
.display-grocery-list span{border-radius: 3px; padding: 6px;}
.display-grocery-list .grocery-list-btn{ color: #13b75e; background-color: #E5F7EE} 
.grocery-inner-list li.listStyle.ingredient-strike span { text-decoration: none; display: inline-block;}
/*grocery list css end*/

.new-recipe-no-result-cntnt{ display: inline-block; padding: 50px 0 0 0;}
.new-recipe-no-result-cntnt p{ font-size:18px; color:#4a4a4a; font-weight:normal; margin:0 0 25px 0; text-align: center;}
.new-recipe-no-result-cntnt p span{ display:inline-block; width:100%;}
.LazyLoad.is-visible.recipe_img{
    width: 100%;
    position: relative;
    height: 104px!important;
    overflow: hidden;
}
.LazyLoad.is-visible.recipe_img img {
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    min-height: 100%;
}
.grocery-list-heading{
    color: #ff003d;
    text-decoration: underline;
}
.grocery-btn{
    float:right;
    margin-top: -35px;

}
.grocery-btn .print-btn, .grocery-btn .email-btn{
	color: white;
    width: 95px;
    height: 34px;
    font-size: 16px;
	border: none;
	font-weight: bold;
	text-decoration: none;
    border-radius: 3px;
    padding-right: 5px;
    background-color: #13b75e;
    box-shadow: 0 1px 6.8px 0.2px rgba(169, 169, 169, 0.5);
	margin-right: 20px;
}
.grocery-btn .email-btn {
    width: 205px;
    height: 34px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.hide-cook-schedule{
    display: none;
}
h4.empty-cook{font-size: 15px !important;height: 44px;padding-top: 243px;text-align: center; color: #374353;}
.loaderClass{align-items: center;}

/* grocery_list dropdown */
.dropdown-item {
	width: 100%;
	float: left;
	padding: 15px 20px 15px 6px !important;
}
.green {font-size: 18px;font-weight: bold !important;border-bottom:1px solid #ccc;}
a.dropdown-item.gray1{font-size: 16px!important;font-weight: normal !important;color:black!important;}
a.dropdown-item.gray1:hover {font-size: 16px!important;font-weight: bold !important;color:#13b75e!important;font-style: normal;
    font-stretch: normal;}
.outer_border{border:none!important;}

a.dropdown-item.gray{font-size: 16px!important;font-weight: normal !important;border-bottom:solid 0.5px #c0c0c0 !important; color:black!important;}
a.dropdown-item.gray:hover {font-size: 16px!important;font-weight: bold !important;color:#13b75e!important;font-style: normal;
    font-stretch: normal;}
.grocery-list-cntnt{ border-bottom:1px solid #eeeeee; width:90%}
.top-section span{ font-size:24px;color: #374353;}

.top-section p{font-size:10px!important;color:#4c5765;}
.form-section label{ margin-top:18px; font-size:16px; color:#374353; font-weight:normal; float:left; width:100% }
.meal {
    border: none !important;
    padding: 30px 2px 0 0 !important;
    margin:2% 0 0 0;
}

.meal h4 {
    float: left;
    width: 100%;
    padding: 0;
        color: #374353;
    font-weight: 400;
    font-size: 24px;
    margin:0 !important;
}
     .color{ float:left !important}

     .password-section{ float:left; margin:10px 0 0 0 !important; 	border-left: none !important; padding: 30px 2px 0 35px;}


     .top{ border-top:1px solid #eeeeee !important; border-bottom:none !important; margin-top:3% !important;}
     .content_section{ background:#fff; float:left}
     .none_bg{background:none!important}
     .content h3{ color:#374353; float:left; padding:10px; width:100%; text-align:center; font-size:22px;}
     .content h4{ color:#374353; float:left; border-bottom:1px solid #ccc; padding:8px; width:100%; text-align:center; font-size:18px !important;}
     .green_content h4{ color:#13b75e !important; font-weight:bold;}
     .Logout{ width:100%; float:left;margin-top:200px;}
     .Logout h4{float:left; text-align:left; margin-top:290px; font-size:19px !important; text-align:center; padding:10px; margin-left: 0px;
     margin-top: 76%;}
     .Logout span{ float:right; width:19px; height:19px; margin-top:-22%; margin-right:25%; }
     .btn-group.bootstrap-select.show-tick.form-control {padding:0 !important; border:none !important;}
     .height{height:auto !important;}
     .meal_pref{padding: 0 0 24px 16px !important; float: left;font-size: 10px !important;}
     .password_section{float: left; margin: 0 0 0 -32px !important;text-align: left; padding-top:5px;}
     .fild_space {margin: 5% 0 23% 0 !important;}
     .check_font{font-size:11px !important;}
     .col-md-8.form-row h6 {
         font-size: 10px;}
     .password_spc{margin-top:8% !important; border:1px solid #eee !important; width:80%;}
     .spc{margin-top:2% !important;}
     .spc_fild{margin:0 !important; padding-top:5px !important;}
     .margn{margin-top:3% !important;}
     .support{margin:3% 0 0 0;}
     .lbe {
         width: 44% !important;
         margin: 18px 0 0 0 !important;
     }
     .lbe_1 {
         width: 44% !important;
         margin: 18px 0 0 0 !important;
     }

     .login-sectn .form-row label {
         float: left;
         /* display: inline; */
         color: #374353;
         font-weight: normal;
         font-size: 15px;
         margin: 4px 0 0 0;
     }
     .area{ height:200px !important; width:462px !important; float:left; margin:10px 0 0 17px;border: 1px solid #979797; border-radius: 0;resize: none;}
    .profile h4{ text-align:left!important; cursor: pointer;}
    .profile h4:hover{  color:#13b75e !important; font-weight: bold; }
     .profile h3{ text-align:left!important;font-size: 24px!important; padding: 0px!important;}
     .colr{color: #13b75e; font-size: 16px;}
     .colr:hover{color: #13b75e; font-size: 16px;}
     .userProfile{border-bottom: 0px!important;}
     .select{margin-top: 0px!important;margin-right:22px; }
     .profile-span{font-size:8px!important;}
     .profile-span strong{text-transform: lowercase;}
     .text{ margin:-4px 0 0 0!important;}
     .meal_plan{
        border: none !important;
        }
.box-margin{padding:30px !important; margin-top:-3%!important; }
.left_border{border:none;}
.msg_box{width:auto !important;float:left;}
.report_bug{width:70%!important;}
.mesg_text p{font-size: 16px !important;}
.error-border{
    border-bottom: 1px solid red !important;
}
.error-text-area{ border: 1px solid red !important;}
.equipment-icn-recipe{height:30px; width:30px; margin-top:0px;}
.svIcon{margin-bottom: -2px;margin-left: 8px;}
.headerLink{text-decoration: none; background: none; outline: none; border: none; padding: 0; font-size: 18px; color: #878787 !important; font-weight: bold; }



/* div#grocery-inner-list .col-md-6:last-child{ float: left; width: 100%; padding-right: 52%;} */
.row.left {width:50%; float:left;}
.row.right {width:50%; float:right;}
.schedule-popup-cntnt p{font-size: 14px; font-weight: normal; color: #374353; margin: 0 0 15px;}
.popup-heading{ margin: 0 0 15px 0 !important;}
.hint-msg{font-size: 10px;line-height: normal; float: left; width: 100%; color: #878787 !important;}
.scroll-view{width: 100%; float: left; text-align: center; font-size: 16px; color: #4a4a4a;}
.divider-small-scroll span{ position: relative; z-index: 9;}

.admin-user-list h4{ font-size: 22px;}
.admin-user-list-cntnt .col-md-6{ padding: 0}
.admin-user-list-cntnt ul{ padding: 0; margin: 0 ;}
.admin-user-list-cntnt ul li{ list-style: none; font-size: 16px; border-bottom: 1px solid #ececec; padding: 8px 0;}
.admin-user-list-cntnt ul li button{ padding:0 ;}
.admin-user-list-cntnt ul li .col-md-6 { width: 50%; display: inline-block;}
.admin-user-list-cntnt ul li:last-child{ border :none}
.hdr-search{ position: relative;}
.hdr-search svg {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 7px;
    color: #999;
}
.hdr-search input{ padding-right: 30px;}
/* .dropdown-menu .dropdown-item{ padding:7px 10px 7px 3px !important;} */
.admin-user-list-hdng{ background: #ececec; margin-bottom: 7px;}

.divider-small-scroll-box{ float: left; width: 100%; text-align: center; margin: 10px 0;}
.divider-small-scroll-box .divider-small{
    width: 310px;
    max-width: 100%;
    float: none;
    margin: auto;
}
.divider-small-scroll-box .divider-small span.divider-line{ bottom: 10px;}
.error-msg a {color: #F60042; text-decoration: underline;}
.green-link-btn{ float: right; border: none; padding: 0; border-radius: 0; font-size: 18px; color: #13b75e; text-decoration: underline; margin: 5px 0 0 0;}
.green-link-btn svg{ margin-left: 3px;}
.equipment-icon { bottom: 7px !important; position: absolute !important; line-height: 1; width: 80px !important; margin-left: -40px; left: 50% !important; }
.equipment-icon--cntnt-size{ letter-spacing: 0px; width: 100px !important;  left: 50% !important; margin-left: -50px; bottom: -10px !important; }
.support-email-cntn{margin-top: 54px;}
.email-send{ text-transform: capitalize; width: 40%; padding: 7px; font-weight: bold; }
.upgrade-popup { margin-top: -54px;}
.week-day { color:#13b75e; font-weight: bold;}
.build-screen { line-height: 4;}
.week-plan-green-box {
    float: none;
    width: 220px;
    height: 70px;
    text-align: center;
    -webkit-box-shadow: 0 1px 6.8px 0.2px rgba(169, 169, 169, 0.75);
    box-shadow: 0 1px 6.8px 0.2px rgba(169, 169, 169, 0.75);
    background: #13b75e;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 0;
    border-radius: 3px;
    margin: 40px auto 50px auto;
}
.week-plan-green-box p{
    font-size: 24px!important;
    color: white;
    font-weight: bold;
    margin: 0;
}
.week-plan-green-box span{
    font-size: 16px!important;
    color: white;
    font-weight: bold;
}
.weekbtns-box {
    padding: 0 10%;
}
.new-register {
    border: none;
    padding: 0;
    float: none;
    margin: auto;
    width:460px;
    max-width: 100%;
}
.inner-hint {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    margin: 0 0 7px 0;
}
.new-register .area.new-comment{ margin: 10px 0 0 0;}
.new-register.login-sectn .form-row .check-row { padding-left: 10px;}
.new-register .select-checks-box{ padding: 10px 0 0 0;}
.new-register .select-checks-box .col-md-4, .new-register  .select-checks-box .col-md-8{ margin-bottom: 7px;}
.new-register.login-sectn .form-row{ margin:0 0 10px 0;}
.new-register h4{ font-weight: 600 !important; text-align: center !important; margin: 20px 0 20px !important; color:#374353;}
.next-btn.new-register{ float:none !important; margin-top:20px;}
.hdng-para.plan-detail{ margin-top:30px!important;}
.hdng-billing {
    color: #374353;
    margin: 60px 0 0 0;
    display: inline-block;
    width: 100%;
    font-weight: 600;
}
.hdng-billing span {
    display: inline-block;
    width: 100%;
    margin-top: 8px;
}
.hdng-billing p{ padding:10px; }
.new-comment{ height:40px!important; font-size:12px; }




.StripeElement {
    position: relative;
    top: 17px;
    transform: perspective(1px) translateY(-50%);

    color: #374353;
    background: transparent;
    font-weight: 300;
    border: 0;
    outline: none;
    cursor: text;
    display: block;
    width: 100%;
    line-height: 28px;
    min-height: 28px;
    padding-bottom: 0;
    transition: opacity 200ms ease-in-out;
}
.StripeElement div, .StripeElement iframe, .StripeElement input{
    line-height: 28px;
    min-height: 28px;
    padding-bottom: 0;}

.Input input{ float:left; width:100%; border:none; opacity:0; background: none; opacity:1; color:#374353;}
.StripeElement--focus{ opacity: 1;}
.static-label span {
    position: absolute;
    top: 5px;
    left: 0;
    transform-origin: 0% 50%;
    transition: transform 200ms ease-in-out;
    cursor: text;
    font-size: 14px !important;
}
.static-label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    line-height: 28px !important;
    min-height: 28px;
    color: #374353;
    border-bottom: 1px solid #bdbdbd;
    transition: border-bottom-color 200ms ease-in-out;
    cursor: text;
    pointer-events: none;
}
.cnumber.static-label{ border-bottom: 1px solid #13b75e;}
.error{ border-bottom: 1px solid red; color:red;}
.cnumber.static-label span{
    transform: scale(0.68) translateY(-30px);
    color:black;
}
.card-numbr-box {
    float: left;
    width: 100%;
    position: relative;
    min-height: 28px;
    margin: 0 0 20px 0;
}
.card-numbr-box label{ padding: 0; width: 100% !important;}
.hdng-para.more-top-margn{ margin-top:10px !important;}
.new-register-btn { float: none !important; }
.new-form { margin-bottom: 10px; margin-top: -6px;}
.multiple-units{ border: 0px!important;}
.listStyle {
    font-size: 12px !important;
    padding-left: 18px !important;
}
.listStyle span {
    font-size: 29px;
    line-height: 0;
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
    visibility: visible;
}
.bullet-style {
    visibility: hidden;
}
.no-print{
  display: none !important;
}
.choose-recipe-cntnt{ padding: 0px;}
.mobile-view-small.mob-dash, .cal-days-cntnt.dishes-row.dashboard-page.no-print, header { display: none;}
.bordr-top-hdng {
    text-decoration:none;
    list-style:none;
    padding-bottom:6px;
    font-size: 24px;
    font-weight: normal;
  }
  .grocery-inner-list li {
    float: left;
    width: 100%;
    font-size: 12px;
    padding: 3px;
}
.grocery-inner-list {
  padding: 0 0 0 20px;
  margin: 0 0 0 0;
}
.col-md-6 {
  /* display:inline; */
  float:left;
  width:50%;
}
.grocery-list-icn{ display:none; }
.multiple-units{ border: 0px!important;}
.listStyle {
  font-size: 12px !important;
  padding-left: 18px !important;
}
.listStyle{
list-style:none;
}
.listStyle span {
  font-size: 29px;
  line-height: 0;
  margin: 0 5px 0 0;
  position: relative;
  top: -2px;
  visibility: visible;
}
.bullet-style {
  visibility: hidden;
}
.grocery-inner-list li.listStyle{ list-style: none; font-size: 10px;}
.main-cntnt-all {
    width: 100%;
    /* display: inline-block; */
    font-family: 'Poppins', sans-serif;
}

.mb-hide{
    display: block!important;
}
.showlisttrue{
    display: block;
}
.showlist{
    display: block;
}
.showlistfalse{
    display: block;
}
.main-cntnt-all {
    width: 100%;
    /* display: inline-block; */
    font-family: 'Poppins', sans-serif;
}
.recipe-link{width:100%; float:left;}
.recipe-link a{ color: #13b75e; text-decoration: underline;}
.recipe-top-cntnt{float: left; width: 100%; padding: 0px 0% 6px 3%;}
.recipe-top-cntnt h1{font-weight:900; font-size: 40px;}
.side-hdng-cntnt{float: left; font-size: 24px;  margin: 0px 0px 0px 13px; color: #374353}
.meal-breakdown-row-side-tag {
    float: left;
    width: 42px;
    height: auto;
    background-color: #F2F2F2!important;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 28px;
    color: #979797;
    font-weight: normal;
    font-size: 16px;
    padding-top: 3px;
}
.serving {color:#374353!important; border: 0px !important;}
.swap-meal{ padding: 0 0px 12px 17px; border-bottom: 2px solid #cbcbcb; width: 100%; display: inline-block; }
.meal-summary {
    width: 100%;
    float: left;
    padding-top: 20px;
    color: #979797;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    padding: 0 15px;
    margin: 20px 0 4px 0;
}

.small-box{ border-bottom:0px!important;}
.tab-right-cntnt { overflow:hidden; float:right; margin: 20px;}

.meal-sumry-icn-box{ width: 100%; display: inline-block; margin: -8px 0 13px 0;}
.meal-sumry-icn-box .popup-main-icn-box{ width: 53%; padding: 2px 12px 5px 0px;}
.meal-sumry-icn-box .popup-main-icn-box-rght{ width: 47%; padding: 2px 0 5px 0;}
.meal-sumry-icn-box .popup-main-icn-box-rght .meal-sumry-icn-inner{ display: inline-block; width: 25%; padding: 0 10px;}
.popup-main-icn-box-rght-inner-box{  width: 100%; display: inline-block; padding: 0 0 0 0px; border:0px; border-left: 1px solid #979797;}
.popup-main-icn-box-rght .meal-summary {
    padding: 0 15px 0 30px;
}
.swap-meal{
    padding-bottom: 20px;
}
.swap-meal .popup-ftr-servings.top-txt-only {
    padding-top: 9px;
    font-size: 18px;
    margin:0;
    margin-bottom: 20px;
    float: left;
}
.swap-meal .popup-ftr-servings.top-txt-only strong{
    font-weight: bold;
}
.swap-meal .swap-meal-btn span {
    margin-left: 10px;
    position: relative;
    top: -1px;
}

.meal-sumry-icn-box .meal-sumry-icn-inner {
    width: 33%;
    padding-left: 41px;
    display: inline-block;
    text-align: left;
    position: relative;
}
.meal-sumry-icn-box .meal-sumry-icn-inner svg{
    position: absolute;
    left: 0;
    width: 37px;
    height: 40px !important;
    top: 0px;
    display: block;
    margin: 0 !important;
}
.meal-sumry-icn-box .meal-sumry-icn-inner b {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    line-height: normal;
    margin-top: 0px;
    bottom: -3px;
    position: relative;
}
.meal-sumry-icn-box .meal-sumry-icn-inner span{ font-size: 12px; float:left; width:100%; font-weight: normal;}
.meal-sumry-icn-box .meal-sumry-icn-inner.chef-cap-small  {
    padding-left: 54px;
}
.meal-sumry-icn-box .meal-sumry-icn-inner.chef-cap-small svg {
    width: 60px;
    height: 60px !important;
    left: 0px !important;
    top: -6px;
}


.main-dish-cntnt{
    float: left;
    width: 100%;
    position: relative;
}
.tab-lft-cntnt {
    float: left;
    width: 45%;
    position: relative;
    min-height: 300px;
    position: relative;
    margin-right: 2%;
    margin-top: 3%;
    overflow: hidden;
}
.tab-lft-cntnt .img-side1{
    float: left;
    width: 100%;
    position: relative;
    min-height: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.tab-lft-cntnt img{
    position: absolute;
    width: auto;
    height:100%;
    left: 0;
    top: 0;
    max-width: none;
}

.tab-lft-cntnt .icn-box-iner{
    float: left;
    width: 100%;
    position: relative;
    margin: 20px 0;
    text-align: left;
}
.tab-lft-cntnt .icn-box-iner h4{
    float: left;
    width: 100%;
    position: relative;
    margin: 10px 0px 0 14px;
    font-size: 20px;
    color: #374353;
}
.meal-nutrition-detail h5{
    float: left;
    width: 100%;
    position: absolute;
    font-size: 16px;
    color: #374353;
    bottom: 0px;

}
.popup-main-icn-box-rght-inner-box2 {
    width: 100%;
    display: inline-block;
    padding: 0 0 0 15px;
}


.tab-right-cntnt{
    float: right;
    width: 53%;
    position: relative;
    margin: 0;
}
.tab-right-cntnt .meal-summary{ padding: 0}
.tab-right-cntnt h2{ font-weight: 900;}
.tab-right-cntnt .popup-ingredients h4{ font-size: 20px; color: #000; margin: 0 0 12px 0;}
.tab-right-cntnt .popup-ingredients h4:after{opacity: 0;}
.tab-right-cntnt .popup-ingredients li{ font-size: 14px; }
.tab-right-cntnt .after-hdng-cntnt span{ font-size: 13px; }
.tab-right-cntnt .after-hdng-cntnt b{ font-size: 13px; }
.tab-right-cntnt .popup-main-icn-box-rght-inner-box2 .meal-sumry-icn-inner b{ display: inline-block; }
.tab-right-cntnt .popup-main-icn-box-rght-inner-box2 .meal-sumry-icn-inner span{ display: block; }
.tab-right-cntnt .popup-ingredients.popup-instructions ol {
    max-height: none;
}
.popup-main-icn-box-rght-inner-box2 .meal-sumry-icn-inner{
    display: inline-block;
    padding-top: 9px;
    width: 25%;
}
.popup-main-icn-box-rght-inner-box2 .meal-sumry-icn-inner b {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    line-height: normal;
    margin-top: 0px;
    bottom: -3px;
    position: relative;
}
.popup-main-icn-box-rght-inner-box2  .meal-sumry-icn-inner span {
    font-size: 12px;
    font-weight: normal;
}
.tab-right-cntnt .change-dish-box{
    float: left;
    /* width: 100%; */
    z-index: 99;
    position: relative;
    left: 0;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 20px;
    bottom: 0;
}
.tab-right-cntnt .recipe-btn{
    height: 39px;
    float: right;
    margin: 16px 25px 0px 0
}
.tab-right-cntnt .confirm-btn{ width: auto; float: right;}
.tab-right-cntnt .confirm-btn p { width: 100%; color: #13b75e; font-size:14px;}
.tab-right-cntnt .change-dish-box .swap-meal-btn span{ margin-left: 8px;}
.carousel-indicators{ 
    position: absolute;
    z-index: 99999;
    top: 0;
    margin-top: 264px;
}
.meal-drpdwn{display: inline-block}

.dtail-nutri-info-cntnt{ color: #374353; float: left; width: 100%;}
.dtail-nutri-info-cntnt ul{ float: left; width: 100%; padding: 0;}
.dtail-nutri-info-cntnt li{ font-size: 14px; font-weight: bold; padding: 0px 10px; width: 100%; float: left;}
.dtail-nutri-info-cntnt li.note-txt{ font-size: 10px; color: #374353; font-weight: 300;}
.dtail-nutri-info-cntnt ul.inner-child li{ padding: 1px 0 1px 20px; font-weight: 300;}
.dtail-nutri-info-cntnt ul.inner-child li span{ margin-right: 10px;}
.custm-dropdwn-side {
    float: left;
    width: 100%;
}
.custm-dropdwn-side h4{
    float: left;
    width: 100%;
    cursor: pointer;
}
.custm-dropdwn-side h4 svg {
    float: right;
    margin-top: 3px;
    font-size: 25px;
    height: 11px;
}
.swap-popup .back-to-planing-btn {
    font-weight: 500;
    padding: 6px 19px;
}


.mb-only{ display: none!important;}

.back-to-recipe .back-to-plan {
    float: left;
    color: #4a4a4a;
    background: no-repeat;
    border: 1px solid #13b75e;
    bottom: -10px;
    width:135px;
}
.back-to-recipe .back-to-plan svg {
    fill: #4a4a4a;
    margin-left: 4px;
    top: 2px;
    width: 20px;
}
.recipe-btn{ float: none; background: #13b75e; position: relative; padding: 6px 20px 6px 12px; color: #fff; font-weight: 600; border-radius: 2px; border: none;  font-size: 16px; width: 180px; height: 34px;}
.swap-meal .recipe-btn{ float: right;}
.swap-meal .confirm-btn{ float: right;}
.swap-meal .confirm-btn p {float: right;
    width: 100%;
    text-align:right;
    position: relative;
    color: #13b75e;
    font-size: 12px;
}

.col-lg-3.sidebar {
    display: none;
}
.main-dish-cntnt{
    margin: 0 10px 0 10px ;
    width:100%;
}
.print-hide{ display:none;}
#side-dish{margin: 0 10px 0 10px; page-break-before: always;}
@media print {    
    .break-before {
        page-break-before: always;
    }    		
    .no-break {
        page-break-inside: avoid;
    }
    .clearfix:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }

    .printPlanOuterContainer {
        padding-top: 0;
    }
    .break-before {
        margin-top: 0;
        padding-top: 20px;
        border-top: none;
    }
    @page {
        size: portrait;
    }
}


@media(min-width:320px) and (max-width:767px){
   
    /* new recipe design */
    .col-lg-3.sidebar {
        display: none;
        width: 0%;
        height: 0%;
    }
    .tab-right-cntnt .popup-ingredients h4 svg{ display: none; }
    ol.instructions li:first-child{ padding-top: 0px;}
    ol.instructions li{ padding: 0px;}
    .meal-summary.mb-border { border: 0px;}
.mb-hide{
    display: block
}
.back-to-recipe p{ font-size: 16px;}

.showlisttrue{
    display: block;
    position: relative;
}
.showlist{
    display: block;
}
.showlistfalse{
    display: block;
}
.main-cntnt-all {
    float: left;
    width: 100%;
    /* display: inline-block; */
    font-family: 'Poppins', sans-serif;
}
.recipe-link{width:100%; float:left;}
.recipe-link a{ color: #13b75e; text-decoration: underline;}
.recipe-top-cntnt{float: left; width: 100%; padding: 0px 0% 6px 3%;}
.recipe-top-cntnt h1{font-weight:900; font-size: 36px;}
.side-hdng-cntnt{float: left; font-size: 24px;  margin: 0px 0px 0px 13px; color: #374353}
.meal-breakdown-row-side-tag {
    float: left;
    width: 42px;
    height: auto;
    background-color: #F2F2F2!important;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 28px;
    color: #979797;
    font-weight: normal;
    font-size: 16px;
    padding-top: 3px;
}
.serving {color:#374353!important; border: 0px !important;}
.swap-meal{ padding: 0 0px 12px 17px; border-bottom: 2px solid #cbcbcb; width: 100%; display: inline-block; }
.meal-summary {
    width: 100%;
    float: left;
    padding-top: 20px;
    color: #979797;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    padding: 0 15px;
    margin: 20px 0 4px 0;
}

.small-box{ border-bottom:0px!important;}
.tab-right-cntnt { overflow:hidden; float:right; margin: 20px;}

.meal-sumry-icn-box{ width: 100%; display: inline-block; margin: -8px 0 13px 0;}
.meal-sumry-icn-box .popup-main-icn-box{ width: 53%; padding: 2px 12px 5px 0px;}
.meal-sumry-icn-box .popup-main-icn-box-rght{ width: 47%; padding: 2px 0 5px 0;}
.meal-sumry-icn-box .popup-main-icn-box-rght .meal-sumry-icn-inner{ display: inline-block; width: 25%; padding: 0 10px;}
.popup-main-icn-box-rght-inner-box{  width: 100%; display: inline-block; padding: 0 0 0 15px; border-left: 1px solid #979797;}
.popup-main-icn-box-rght .meal-summary {
    padding: 0 15px 0 30px;
}
.swap-meal{
    padding-bottom: 0px;
}
.swap-meal .popup-ftr-servings.top-txt-only {
    padding-top: 11px;
    font-size: 18px;
    margin-bottom: 20px;
}
.swap-meal .popup-ftr-servings.top-txt-only strong{
    font-weight: bold;
}
.swap-meal .swap-meal-btn span {
    margin-left: 10px;
    position: relative;
    top: -1px;
}

.meal-sumry-icn-box .meal-sumry-icn-inner {
    width: 33%;
    padding-left: 41px;
    display: inline-block;
    text-align: left;
    position: relative;
}
.meal-sumry-icn-box .meal-sumry-icn-inner svg{
    position: absolute;
    left: 0;
    width: 37px;
    height: 40px !important;
    top: 1px;
    margin: 0 !important;
}
.meal-sumry-icn-box .meal-sumry-icn-inner b {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    line-height: normal;
    margin-top: 0px;
    bottom: -3px;
    position: relative;
}
.meal-sumry-icn-box .meal-sumry-icn-inner span{ font-size: 12px; float:left; width:100%; font-weight: normal;}
.meal-sumry-icn-box .meal-sumry-icn-inner.chef-cap-small  {
    padding-left: 54px;
}
.meal-sumry-icn-box .meal-sumry-icn-inner.chef-cap-small svg {
    width: 60px;
    height: 60px !important;
    left: 0px !important;
    top: -6px;
}
.passive-only{
    width:34%;
}

.main-dish-cntnt{
    float: left;
    width: 100%;
    position: relative;
    page-break-after: always!important;
}
.tab-lft-cntnt {
    float: left;
    width: 42%;
    position: relative;
    min-height: 300px;
    position: relative;
    margin-right: 0%;
    margin-top: 3%;
    overflow: hidden;
}
.tab-lft-cntnt .img-side1{
    float: left;
    width: 100%;
    position: relative;
    min-height: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.tab-lft-cntnt img{
    position: absolute;
    width: auto;
    height:100%;
    left: 0;
    top: 0;
    max-width: none;
}

.tab-lft-cntnt .icn-box-iner{
    float: left;
    width: 100%;
    position: relative;
    margin: 20px 0;
    text-align: left;
}
.tab-lft-cntnt .icn-box-iner h4{
    float: left;
    width: 100%;
    position: relative;
    margin: 10px 0px 0 14px;
    font-size: 20px;
    color: #374353;
}
.meal-nutrition-detail h5{
    float: left;
    width: 100%;
    position: absolute;
    font-size: 16px;
    color: #374353;
    bottom: 0px;

}
.popup-main-icn-box-rght-inner-box2 {
    width: 100%;
    display: inline-block;
    padding: 0 0 0 15px;
}


.tab-right-cntnt{
    float: left;
    width: 58%;
    position: relative;
    margin: 0;
}
.tab-right-cntnt .meal-summary{ padding: 0}
.tab-right-cntnt h2{ font-weight: 900;}
.tab-right-cntnt .popup-ingredients h4{ font-size: 20px; color: #000; margin: 0 0 12px 0;}
.tab-right-cntnt .popup-ingredients h4:after{opacity: 0;}
.tab-right-cntnt .popup-ingredients li{ font-size: 14px; font-family:'Nunito', sans-serif;}
.tab-right-cntnt .popup-ingredients ul{ display: inline}
.tab-right-cntnt .popup-ingredients ul{width: 50%;}
.tab-right-cntnt .popup-ingredients ul:first-child{ margin: 0px;}
.tab-right-cntnt .after-hdng-cntnt span{ font-size: 13px;}
.tab-right-cntnt .after-hdng-cntnt b{ font-size: 13px;}
.tab-right-cntnt .popup-main-icn-box-rght-inner-box2 .meal-sumry-icn-inner b{ display: inline-block; }
.tab-right-cntnt .popup-main-icn-box-rght-inner-box2 .meal-sumry-icn-inner span{ display: block; }
.tab-right-cntnt .popup-ingredients.popup-instructions ol {
    max-height: none;
}
.popup-main-icn-box-rght-inner-box2 .meal-sumry-icn-inner{
    display: inline-block;
    padding-top: 9px;
    width: 25%;
}
.popup-main-icn-box-rght-inner-box2 .meal-sumry-icn-inner b {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    line-height: normal;
    margin-top: 0px;
    bottom: -3px;
    position: relative;
}
.popup-main-icn-box-rght-inner-box2  .meal-sumry-icn-inner span {
    font-size: 12px;
    font-weight: normal;
}
.tab-right-cntnt .change-dish-box{
    float: left;
    /* width: 100%; */
    z-index: 99;
    position: relative;
    left: 0;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 20px;
    bottom: 0;
}
.tab-right-cntnt .recipe-btn{
    height: 39px;
    float: right;
    margin: 16px 25px 0px 0
}
.tab-right-cntnt .confirm-btn{ width: auto; float: right;}
.tab-right-cntnt .confirm-btn p { width: 100%; color: #13b75e; font-size:14px;}
.tab-right-cntnt .change-dish-box .swap-meal-btn span{ margin-left: 8px;}
.carousel-indicators{   bottom: 0;
    position: absolute;
    z-index: 99999;
    top: 0;
    margin-top: 264px;
}
.meal-drpdwn{display: inline-block}

.dtail-nutri-info-cntnt{ color: #374353; float: left; width: 100%;}
.dtail-nutri-info-cntnt ul{ float: left; width: 100%; padding: 0;}
.dtail-nutri-info-cntnt li{ font-size: 14px; font-weight: bold; padding: 0px 10px; width: 100%; float: left;}
.dtail-nutri-info-cntnt li.note-txt{ font-size: 10px; color: #374353; font-weight: 300;}
.dtail-nutri-info-cntnt ul.inner-child li{ padding: 1px 0 1px 20px; font-weight: 300;}
.dtail-nutri-info-cntnt ul.inner-child li span{ margin-right: 10px;}
.custm-dropdwn-side {
    float: left;
    width: 100%;
}
.custm-dropdwn-side h4{
    float: left;
    width: 100%;
    cursor: pointer;
}
.custm-dropdwn-side h4 svg {
    float: right;
    margin-top: 3px;
    font-size: 25px;
    height: 11px;
}
.swap-popup .back-to-planing-btn {
    font-weight: 500;
    padding: 6px 19px;
}



.back-to-recipe .back-to-plan {
    float: left;
    color: #4a4a4a;
    background: no-repeat;
    border: 1px solid #13b75e;
    bottom: -10px;
    width:135px;
}
.back-to-recipe .back-to-plan svg {
    fill: #4a4a4a;
    margin-left: 4px;
    top: 2px;
    width: 20px;
}
.recipe-btn{ float: none; background: #13b75e; position: relative; padding: 6px 20px 6px 12px; color: #fff; font-weight: 600; border-radius: 2px; border: none;  font-size: 16px; width: 180px; height: 34px;}
.swap-meal .recipe-btn{ float: right;}
.swap-meal .confirm-btn{ float: right;}
.swap-meal .confirm-btn p {float: right;
    width: 100%;
    text-align:right;
    position: relative;
    color: #13b75e;
    font-size: 12px;
}

.col-lg-3.sidebar {
    display: none;
}
}
@media (max-width: 1900px) and (min-width: 320px){
.days-cal {
    position: relative;
    left: auto;
    width: 100%;
    box-shadow: none;
    padding: 0;
    top: auto;
}
.showlisttrue{
    display: block;
}
.showlist{
    display: block;
}
.showlistfalse{
    display: block;
}
.days-cal span {
    font-size: 14px;
    margin: 0 0.5%;
    width: 13.28%;
    border: none !important;
    padding-top: 0;
    transform: rotate(0);
    min-height: auto;
    left: 0;
    position: relative;
}
.days-cal span svg{
    top:-10px!important;
}


}
#PureChatWidget.purechat.purechat-popped-out-widget.purechat-widget-super-collapsed.purechat-bottom{
    display: none;
}

.back-to-recipe .back-to-plan{ display: none}